<%- include('../partial/head.ejs') %>
<%- include('../partial/nav.ejs') %>

<div class="login_container">
    <%if(info) {%>
        <% info.forEach(i => { %>
            <div class="info static <%= i.type %>">
                <p><%= i.message %></p>
            </div>
        <% }); %>
    <% } %>
        <form action="/password_reset/<%= id %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="password">
                <label for="password">Hasło:</label>
                <input type="password" name="password" id="password" placeholder="Hasło">
            </div>
            <div class="password">
                <label for="passwordConfrim">Potwierdź hasło:</label>
                <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Potwierdź hasło">
            </div>
            <button type="submit" class="btn">Resetuj hasło</button>
        </form>
</div>
   
        
<%- include('../partial/end.ejs') %>