<%- include('../partial/head.ejs') %>
<%- include('../partial/nav.ejs') %>

<div class="login_container">
    <%if(info) {%>
        <div class="info <%= info.type %>">
            <p><%= info.message %></p>
        </div>
    <% } %>
    <div>

        <form action="/login" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="username">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Nazwa użytkownika">
            </div>
            <div class="password">
                <label for="password">Hasło</label>
                <input type="password" name="password" id="password" placeholder="Hasło">
            </div>
            <button type="submit" class="btn">Zaloguj</button>
        </form>
        <%if(info) {%>
            <div class="reset">
                <p>Zapomniałeś hasła?</p>
                <a class="btn" href="/resetPassword">Zresetuj je</a>
            </div>
            <% } %>
    </div>
</div>
   
        
<%- include('../partial/end.ejs') %>