<%- include('../partial/head.ejs') %>
<%- include('../partial/nav.ejs') %>

<div class="login_container">
    <%if(info) {%>
        <div class="info <%= info.type %>">
            <p><%= info.message %></p>
        </div>
    <% } %>
        <form action="/resetPassword" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="username">
                <label for="email">Wprowadź swój email</label>
                <input type="email" name="email" id="email" placeholder="email">
            </div>
            <button type="submit" class="btn">Resetuj</button>
        </form>
</div>
   
        
<%- include('../partial/end.ejs') %>